body,
.cms .ss-gridfield {
	overflow-x: visible;
}

.ralph-dev-admin {
	padding: 0 20px;
}

.ralph-dev-admin .Actions {
	padding-left: 0;
}

.cms table.ss-gridfield-table {
	table-layout: fixed;
}

.togglecomposite.ralph-search-fields .ui-accordion-content {
	height: 400px;
}